#menu-container {
  background-color: #333;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
a {
  background-color: #222;
  padding: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.25em;
  font-size: x-large;
  font-weight: 800;
}
a:hover {
  background-color: #202020;
}
